{% extends 'personal/home.html' %}

{% block content %}

<style type="text/css">
	
	.container p{
		margin: 30px;
		display: inline;
	}

	.request{
		width: 80vw;
		box-shadow: 10px 10px 9px rgba(225,225,225,.3);
		display: flex;
		flex-direction: row;
	}

	.profile-panel{
		display: flex;
		flex-direction: row;
	}

	.profile_image{
		width: 70px;
		height: 70px;
		border-radius: 10px;
	}

	.profile-view{
		margin-top: 60px;
		position: absolute;
		margin-left: 5vw;
	}
</style>

<div class="container">

	<p>Requests</p>
	<div class="profile-view">
		{% if friend_requests %}

		{% for request in friend_requests %}
		<div class="request"> 
			<a href="{% url 'account:view' user_id=request.sender.id%}">
				<div class="profile-panel">
					<a href="#"><img src="{{request.sender.profile_image.url}}" class="profile_image"></a>

					<p style="font-family: 'Roboto', sans-serif;">{{request.sender.username}}</p>
				</div>
			</a>

			<div style="display: flex; margin-top: 20px;">
				<button onclick='triggerDeclineFriendRequest("{{request.id}}")' style="border: 0px; width: 40px; height: 40px; background-color: red; border-radius: 50%; margin-right: 5px;"><span style="color: white;" class="material-icons-outlined">close</span></button>
				<button onclick='triggerAcceptFriendRequest("{{request.id}}")' style="width: 40px; height: 40px; border: 0px; background-color: #0095F6; border-radius: 50%;"><span style="color: white;" class="material-icons-outlined">done</span></button>
			</div>
		</div>
		{% endfor %}
		{% endif %}
	</div>
</div>

<script type="text/javascript">
	function onFriendRequestAccept(){
		location.reload();
	}

	function onFriendRequestDecline(){
		location.reload();
	}

	function triggerAcceptFriendRequest(frined_request_id){
		acceptFriendRequest(frined_request_id, onFriendRequestAccept)
	}
</script>

{% include 'friend/snippets/accept_friend_request.html' %}
{% endblock content %}