{% extends './home.html' %}

{% block content%}

<style type="text/css">

	.mobile-view-header{
		display: flex;
		flex-direction: row;
	}

	.title{
		font-family: 'Dancing Script', cursive;
		font-size: 25px;
		margin-left: 20px;
	}

	.notification-chat-container{
		display: flex;
		flex-direction: row;
		position: absolute;
		margin-top: 25px;
		right: 20px;
	}

	.general-notification{
		margin-right: 20px;
	}

	.general-notification span,.chat-notification span{
		font-size: 25px;
	}

	.post-container{
		width: 90vw;
		margin-left: 5vw;
		padding: 3px;
		display: inline-block;
		margin-bottom: 50px;
	}

	.post{
		padding: 10px;
		margin-top: 20px;
		background-color: rgba(0,0,0,.1);
		border-radius: 20px;
	}

	.post a{
		text-decoration: none;
		color: black;
		font-family: 'Roboto', sans-serif;
		position: relative;
		top: 0px;
		font-size: 13px;
	}

	.post-content{
		padding: 1px;
	}

</style>

<div class="mobile-view-header">
	<div class="title"><p>Together</p></div>

        <div class="notification-chat-container">
            <div class="general-notification"><span class="material-icons-outlined">notifications</span></div>
            <div class="chat-notification"><span class="material-icons-outlined">chat</span></div>
        </div>
</div>

{% if posts %}
<div class="post-container">
	{% for post in posts %}
		<div class="post">

			<div class="profile-link">
				<a href="{' url 'account:view' user_id=post.creator.id %}"><img style="width:30px; height:30px; border-radius:50%;" src="{{post.creator.profile_image.url}}"></a>
				<a href="{% url 'account:view' user_id=post.creator.id %}">{{post.creator.username}}</a>
			</div>

			<div style="background-color:white; border-radius: 10px;" class="post-content">
				<p style="font-family: 'Open Sans', sans-serif; font-size: 12px;">{{post.content}}</p>
			</div>
		</div>
	{% endfor %}
</div>
{% endif %}

{% endblock content%}