{% extends 'personal/home.html' %}
{% load static %}

{% block content %}
	<style>
		


		@media (max-width: 420px){
			.mobile-view{
				display: block;
				overflow-x: hidden;
			}

			.profile-panel{
				width: 100%;
			}

			.background-image{
				width: 100%;
			}

			.image-container{
				width: 140px;
				height: 140px;
				background-color: white;
				border-radius: 50%;
				box-shadow: 7px 7px 9px rgba(225,225,225,.5),
							-7px -7px 9px rgba(225,225,225,.5);
				position: absolute;
				left: 50%;
				transform: translate(-50%,-50%);
				padding: 5px;
				z-index: 2;
			}

			.profile-pic{
				width: 140px;
				height: 140px;
				border-radius: 50%;
			}

			.settings{
				position: absolute;
				color: white;
				top: 30px;
				left: 10px;
			}
		}

		.details{
			 font-family: 'Roboto', sans-serif;
			 position: absolute;
			 margin-top: 75px;
			 display: flex;
			 justify-content: center;
			 flex-direction: column;
		}

		.details p{
			font-style: bold;
			font-size: 17px;
			width: 100vw;
		}

		.friend-system{
			margin-top: 120px;
			margin-left: 20px
			width: 70vw;	
			display: flex;
			justify-content: space-evenly;	
		}

		.friend-system button, .request button{
			width: 45px;
			height: 45px;
			border-radius: 50%;
			border: 0px;
		}

		.request{
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: 50%;
			transform: translate(-50%, 0%);
		}

		.username{
			display: flex;
			justify-content: center;
		}

	</style>

<div class="mobile-view">

	<div class="profile-panel" id="profile_container">
		{% if is_self %}
		
		<a href="{% url 'account:edit' user_id=id %}"><span class="material-icons-outlined settings">settings</span></a>
		{% endif %}

		<img class="background-image" src="{% static 'images/bg.jpeg' %}" alt="">

		<div class="image-container" id="id_image_container">
			<img src="{{profile_image}}" alt="" class="profile-pic" id="id_profile_image_display">
		</div>

		<div class="details" >
			<p class="username" id="id_username">{{username}}</p>
			<p>{{email}}</p>
		</div>
	</div>

	{% if request.user.is_authenticated %}
	<div class="friend-system">

		{% if is_self %}
		<a href=""><button style="background-color: #0095F6;" ><span style="color: white;" class="material-icons-outlined">people</span></button></a>
		{% endif %}

		{% if friend_requests %}
			<a href="{% url 'friend:friend_request' user_id=id %}"><button><span class="material-icons-outlined">person_add</span></button></a>
		{% endif %}

		{% if is_friend == False and is_self == False %}

			{% if request_sent == 0 %} <!-- #if no request is sent -->
			<button id="id_send_friend_request_btn"><span id="id_send_friend_request_btn" class="material-icons-outlined">person_add</span></button>
			{% endif %}

			{% if request_sent == -1%} <!-- #if i sent to them -->
			<a href=""><button><span style = "color: white;" class="material-icons-outlined">person_remove</span></button></a>
			{% endif %}

		{% endif %}

		{% if is_friend %}
		<button id="id_unfriend_btn" style="background-color: red;"><span style = "color: white;" class="material-icons-outlined">person_remove</span></button>

		<button><span class="material-icons-outlined">chat</span></button>

		{% endif %}

	</div>

	{% if request_sent == 1 %}
	<div class="request">
		<p style="font-family: 'Roboto', sans-serif;">{{username}} sent a friend request </p>

		<div style="display: flex;justify-content: center;">
			<button onclick='onFriendRequestAccept("{{id}}")' style="background-color: #0095F6"><span style="color: white;" class="material-icons-outlined">done</span></button>
			<button onclick='onFriendRequestDecline("{{id}}")' style="background-color: red;"><span style="color: white;" class="material-icons-outlined">close</span></button>
		</div>
	</div>
	{% endif %}
	{% endif %}
</div>

<script type="text/javascript">

	function onFriendRequestSent(){
		location.reload();
	}

	function onFriendRequestAccept(){
		location.reload();
	}

	function onFriendRequestDecline(){
		location.reload();
	}

	function onFriendRemoved(){
		location.reload();
	}

	function triggerAcceptFriendRequest(frined_request_id){
		acceptFriendRequest(frined_request_id, onFriendRequestAccept)
	}


	var sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
	if (sendFriendRequestBtn != null){
		sendFriendRequestBtn.addEventListener("click", function(){
			sendFriendRequest("{{id}}", onFriendRequestSent)
		})
	}

	var removeFriendBtn = document.getElementById("id_unfriend_btn")
	if (removeFriendBtn != null){
		removeFriendBtn.addEventListener("click", function(){
			removeFriend("{{id}}", onFriendRemoved)
		})
	}

</script>

{% include 'friend/snippets/send_friend_requests.html' %}
{% include 'friend/snippets/remove_friend.html' %}

{% endblock content %}