{% extends 'personal/home.html' %}
{% load static %}

{% block content %}
<style>
    @media (max-width: 420px){
        .mobile-view{
            display: block;
            overflow-x: hidden;
        }

        .profile-panel{
            width: 100%;
        }

        .background-image{
            width: 100%;
        }

        .image-container{
            width: 140px;
            height: 140px;
            background-color: white;
            border-radius: 50%;
            box-shadow: 7px 7px 9px rgba(225,225,225,.5),
                        -7px -7px 9px rgba(225,225,225,.5);
            position: absolute;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 5px;
            z-index: 2;
        }

        .profile-pic{
            width: 140px;
            height: 140px;
            border-radius: 50%;
        }

        .settings{
            position: absolute;
            color: white;
            top: 30px;
            left: 10px;
        }

        .form-login{
            margin-top: 100px;
            margin-left: 20px;
        }

        .check{
            position: absolute;
            border: 0px;
            border-radius: 50%;
            left: 50%;
            top: 300px;
            width: 40px;
            height: 40px;
            background-color: #0095F6;
        }

        input[type='text']{
            border: 0px;
            background-color: rgba(0,0,0,.2);
            height: 20px;
            padding: 5px;
            border-radius: 10px;
        }

        .button-style{
            margin-top: 5px;
            border: 0px;
            color: white;
            background-color: #0095F6;
            width: 70px;
            height: 30px;
            border-radius: 10px;
        }
    }
</style>

<div class="mobile-view">

	<div class="profile-panel" id="profile_container">

		<img class="background-image" src="{% static 'images/bg.jpeg' %}" alt="">

		<div class="image-container" id="id_image_container">
			<img src="{{form.initial.profile_image}}" alt="" class="profile-pic" id="id_profile_image_display">
		</div>

        <div id="id_image_crop_confirm">
            <button class="check"><span id="id_confirm" class="material-icons" style="color: white;">check</span></button>
        </div>
	</div>

    <div>
        <form class='form-login' method="POST">{% csrf_token %}
            <input style="display: none;" type="file" name="profile_image" id="id_profile_image" onchange="readURL(this)">
    
            <p style="margin-top: 40px;font-family: 'Roboto', sans-serif; font-style:bold;">Email address</p>
            <input class="input font" type="text" name="email" id="inputEmail" value={{form.initial.email}}>
    
            <p style="margin-top: 40px;font-family: 'Roboto', sans-serif; font-style:bold;">Username</p>
            <input class="input font" type="text" name="username" id="inputUsername" value="{{form.initial.username}}"><br>
    
            <input style="margin-top: 20px;" type="checkbox"><span style="font-family: 'Roboto', sans-serif;" class="font" name="hide_email" id="id_input_hide_email" {% if form.initial.hide_email %} checked {% endif %}>Hide Email</span><br>
    
            {% for field in login_form %}
            <p>
                {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}
            {% if registration_form.non_field_errors %}
            <div style="color: red">
                <p>{{registration_form.non_field_errors}}</p>
            </div>
            {% endif %}
    
            <a class="change-password" href="#" style="font-family: 'Roboto', sans-serif; text-decoration: none;">Change Password</a><br>
            <a><button class="button-style" type="submit">Update</button></a>
        </form>
    </div>
</div>

<script>
    var cropper;
    var imageFile;
    var base64ImageString;
    var cropX;
    var cropX;
    var cropWidth;
    var cropHeight;

    enableImageOverlay()



    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
            	disableImageOverlay()
            	var image = e.target.result
            	var imageField = document.getElementById('id_profile_image_display')
                imageField.src = image

                cropper = new Cropper(imageField,{
                    aspectRatio: 1/1,
                    crop(event){
                        setImageCropProperties(
                            image,
                            event.detail.x,
                            event.detail.y,
                            event.detail.width,
                            event.detail.height
                            )
                    },
                });
				
            };
            reader.readAsDataURL(input.files[0]);
        }
    };

    function setImageCropProperties(image,x, y, width, height){
        imageFile = image
        cropX = x
        cropY = y
        cropWidth = width
        cropHeight = height

    }

    function isImageSizeValid(image){
        var startIndex = image.indexOf("base64,")+7;
        var base64str = image.substr(startIndex);
        var decode = atob(base64str);
        if(decode.lenght >= "{{DATA_UPLOAD_MAX_MEMORY_SIZE}}"){
            return null
        }

        return base64str
    }

    function cropImage(image, x, y, widht, height){
        base64ImageString = isImageSizeValid(image)

        if(base64ImageString != null){
            var requestData = {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                "image": base64ImageString,
                "cropX": cropX,
                "cropY": cropY,
                "cropWidth": cropWidth,
                "cropHeight": cropHeight
            }
            
            $.ajax({
                type: 'POST',
                dataType: "json",
                url: "{% url 'account:crop_image' user_id=form.initial.id %}",
                data: requestData,
                timeout: 20000,
                success: function(data) {
                    if(data.result == "success"){
                       window.location.reload()
                    }
                    else if(data.result == "error"){
                        alert(data.exception)
                        window.location.reload()
                    }
                },
                error: function(data) {
                    console.error("ERROR...", data)
                    alert(str(data))
                },
                complete: function(data){
                    window.location.reload()
                }
            });
        }
        else{
            alert("Upload an image smaller than 10MB!")
            location.reload()
        }
    }

    function enableImageOverlay(){
        var imageContainer = document.getElementById("id_image_container")

        imageContainer.addEventListener("click", function(event){
			document.getElementById('id_profile_image').click();
		});

        var cropConfirm = document.getElementById("id_image_crop_confirm")
		cropConfirm.style.display = "none"
    }

    function disableImageOverlay(){
		var imageContainer = document.getElementById("id_image_container")

		document.getElementById('id_image_container').removeEventListener("click", function(event){
			event.preventDefault();
			// do nothing
		});
		document.getElementById('id_profile_image').addEventListener("click", function(event){
			event.preventDefault();
			// do nothing
		});

        var cropConfirm = document.getElementById("id_image_crop_confirm")
        cropConfirm.style.display = "block"

        var confirm = document.getElementById('id_confirm')
        confirm.addEventListener("click", function(event){
            cropImage(imageFile, cropX , cropY, cropWidth, cropHeight)
            
        });
    }

</script>

{% endblock content %}