{% extends 'personal/home.html' %}

{% block content %}

<style>
    @media (max-width : 420px){
        .search-bar{
            width: 80vw;
            height: 30px;
            background-color: rgba(0,0,0,.19);
            border: 0px;
            border-radius: 5px;
            position: relative;
        }

        input[type="text"]::placeholder{
        	padding: 4px;
        }
    }
</style>

<div style="margin: 20px;">
	
	<p style="font-family: 'Roboto', sans-serif;">Search<p>
	<form onsubmit="return executeQuery();">
	    <input class="search-bar"type="text" placeholder="search" id="search">
	</form>

	{% block results %}

    {% endblock results %}
</div>

{% endblock content %}